name: flutter_base
description: "A base Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.3.2 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # UI
  cupertino_icons: ^1.0.6

  # Localization
  flutter_localizations:
    sdk: flutter
  intl: any

  # Network
  dio: ^5.4.2+1
  retrofit: ^4.1.0

  # Database
  realm: ^20.0.1

  # Logging
  logger: any

  # Modeling
  json_annotation: ^4.9.0
  freezed_annotation: ^3.1.0

  # DI and State Management
  flutter_riverpod: ^2.5.1
  riverpod_annotation: ^2.3.5

  # UI
  animated_bottom_navigation_bar: ^1.3.3
  cached_network_image: ^3.3.1

  # Utils
  path_provider: ^2.1.5

dev_dependencies:
  # Unit Testing
  flutter_test:
    sdk: flutter
  mockito: ^5.4.5

  # Linter
  flutter_lints: ^6.0.0

  # Generator Runner
  build_runner: ^2.4.9

  # Network generator
  retrofit_generator: ^9.1.7

  # Model generator
  json_serializable: ^6.7.1
  freezed: ^3.0.6

  # Generator for Riverpod
  riverpod_generator: ^2.4.0
  custom_lint: ^0.7.0
  riverpod_lint: ^2.3.10

  # Assets Generator
  flutter_gen_runner: ^5.4.0

# FlutterGen configurations
flutter_gen:
  output: lib/res/gen
  line_length: 80

  # Optional
  integrations:
    flutter_svg: true
    rive: true
    lottie: true

  colors:
    inputs:
      - assets/colors/colors.xml

flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/icons/
    - assets/images/

  fonts:
    - family: OpenSans
      fonts:
        - asset: assets/fonts/open-sans/OpenSans-Light.ttf
          weight: 300
        - asset: assets/fonts/open-sans/OpenSans-LightItalic.ttf
          weight: 300
          style: italic
        - asset: assets/fonts/open-sans/OpenSans-Regular.ttf
          weight: 400
        - asset: assets/fonts/open-sans/OpenSans-Italic.ttf
          weight: 400
          style: italic
        - asset: assets/fonts/open-sans/OpenSans-Medium.ttf
          weight: 500
        - asset: assets/fonts/open-sans/OpenSans-MediumItalic.ttf
          weight: 500
          style: italic
        - asset: assets/fonts/open-sans/OpenSans-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/open-sans/OpenSans-SemiBoldItalic.ttf
          weight: 600
          style: italic
        - asset: assets/fonts/open-sans/OpenSans-Bold.ttf
          weight: 700
        - asset: assets/fonts/open-sans/OpenSans-BoldItalic.ttf
          weight: 700
          style: italic
        - asset: assets/fonts/open-sans/OpenSans-ExtraBold.ttf
          weight: 800
        - asset: assets/fonts/open-sans/OpenSans-ExtraBoldItalic.ttf
          weight: 800
          style: italic
